@media screen and (max-width: 1000px) {
    .elementor .img-1 {
        position: relative;
        top: 50px;
        left: 0;
        width: 400px !important;
        display: grid;
        place-content: center;
    }

    .elementor .img-2 {
        position: absolute;
        left: 30px;
        bottom: 10px;
        width: 400px !important;

    }

    .main-image {
        margin-top: 30px !important;
    }
}