body {
    padding: 0 !important;
    margin: 0 !important;
}

.btn {
    border: none !important;
    color: white !important;
}


.btn-success {
    background-color: #82b440 !important;
    padding: 5px 20px !important;
    font-family: 15px !important;

}

.bg-1,
.bg-2 {
    padding: 0 !important;
}

.container-fluid .img-fluid {
    min-height: 50vh !important;
}

.items {
    width: 100%;
    height: auto;
}

.items h1 {
    color: #002866;
    font-size: 50px !important;
    line-height: 1.3;


}

.items h3 {
    color: #002866;
    font-size: 26px;
}

.items h2 {
    color: #002866;
    font-size: 26px;
    text-transform: uppercase;
}

.items .number {
    color: rgb(255, 172, 2);
    font-size: 100px !important;
    font-weight: 800 !important;
    line-height: 1;

}

.items p {
    color: cornflowerblue;
    font-size: 25px;
}

.items .bg-primary {
    background-color: rgb(255, 172, 2) !important;
    padding: 30px 100px !important;

}

.items a {
    font-size: 25px !important;
    font-weight: 700;
}

.items a:hover {
    background-color: #002866 !important;
    color: white !important;
}

.elementor {
    background-color: rgb(232, 248, 254);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;

}

.elementor .main-image {
    position: relative;
    top: 0;
    left: 0;
}

.elementor .img-1 {
    position: relative;
    top: 150px;
    left: 0;
}

.elementor .img-2 {
    position: absolute;
    left: 70px;
    top: 10px;

}

.purchase .main-image {
    position: relative;
    top: 0;
    left: 0;
}

.purchase .img-1 {
    position: relative;
    top: 80px;
    right: 150px;
    z-index: -1;
}

.purchase .img-2 {
    position: absolute;
    left: 70px;
    top: 10px;

}

.purchase {

    width: 100%;
    height: 100%;
}

.purchase p {
    z-index: 1;
}

.purchase .btn-primary {
    background-color: rgb(255, 172, 2) !important;
    color: #002866 !important;
    padding: 20px 60px !important;
    text-transform: uppercase !important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px !important;
}

.items-1 {
    padding: 50px 100px;
    width: 50%;
}

.items-1 h5 {
    color: #4d6995;
    font-size: 18px;
}

.items-1 h2 {
    color: #002866;
    font-size: 40px;
    font-family: 900;
}

.items-1 p {
    color: #4d6995;

}

.carousal-card .card {
    border: 0 !important;
}

.card-body h3 {
    color: #002866;
    font-size: 30px !important;
    font-weight: 700;
}

.card-body h2 {
    color: #002866;
    font-size: 40px !important;
}

.carousel-indicators [data-bs-target] {
    background-color: orangered !important;

}

.carousel-indicators {
    margin-bottom: 0 !important;
}

.d-flex p {

    text-transform: uppercase;
    color: #002866;
    font-size: 20px;
    font-weight: 600;
}

.elementor h1 {
    color: #002866;
    font-size: 40px;
    font-weight: 700;

}

.purchase h1 {
    color: #002866;
    font-size: 40px;
    font-weight: 700;
}

.elementor h5 {
    color: #4d6995;

}

.purchase h5 {
    color: #4d6995;

}

.purchase .container {
    padding: 70px;
}

.purchase p {
    color: #4d6995;
    font-size: 17px;
    text-align: justify;
}

.elementor p {
    color: #4d6995;
    font-size: 17px;
    text-align: justify;
}

.elementor .btn-primary {
    background-color: rgb(255, 172, 2) !important;
    color: #002866 !important;
    padding: 20px 60px !important;
    text-transform: uppercase !important;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px !important;
}

.elementor .btn-primary:hover {
    background-color: #002866 !important;
    color: rgb(255, 172, 2) !important;
}

.tab-demo p {
    color: #4d6995;

}

.nav-pills {
    display: flex;
    justify-content: center;
}

.nav-link {
    color: #002866 !important;
    font-size: 16px !important;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px !important;
    border-radius: 50px !important;
}

.nav-link:hover {
    background-color: rgb(255, 172, 2) !important;
    border-radius: 50px !important;

}

.nav-link.active {
    background-color: rgb(255, 172, 2) !important;
    border-radius: 50px !important;
}


.tab-content .card {
    background: white;
    position: relative;
    border-radius: 10px !important;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;

}

.ribbon {
    font: bold 15px sans-serif;
    color: #333;
    text-align: center;
    transform: rotate(-45deg);
    position: relative;
    padding: 3px 0;
    top: 15px;
    left: -30px;
    width: 120px;
    background-color: red;
    color: #fff;
}

.tab-content a {
    color: #002866 !important;
    text-transform: uppercase;
}

.mobile-alone {
    background-image: url('../images/bg-mobile.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-content: center;
}


.mobile-alone h1 {
    font-size: 50px;

}

.mobile-alone p {
    font-size: 20px;
}

.alone-layout h1 {
    color: #002866;
    font-size: 50px;
    font-weight: 700;
}

.alone-layout p {
    color: #4d6995;
    font-size: 18px;

}

.alone-layout .card {
    border: 0 !important;
    border-radius: 8px !important;
}

.alone-layout .card p {
    color: #002866;
    font-size: 18px;
    font-weight: 700;
}

.envato-footer {
    background-image: url('../images/bg-ss-last.ed2d9529.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;

}

.footer-content p {
    font-size: 18px;

}

.footer-content h1 {
    font-size: 35px;
    font-weight: bold;

}

.footer-content span {
    font-size: 60px !important;
    color: rgb(255, 172, 2);
    border-bottom: 2px solid rgb(255, 172, 2);
}

.footer-content .btn {
    text-transform: uppercase;
    padding: 18px 80px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
}

.footer-content .btn-danger {
    background-color: rgb(255, 172, 2) !important;
    color: #002866 !important;
}

.footer-content .btn-info {
    background-color: transparent;
    border: 2px solid white !important;
}

.footer-content .btn-danger:hover {
    color: rgb(255, 172, 2) !important;
    background-color: #002866 !important;
}

.footer-content .btn-info:hover {
    background-color: rgb(255, 172, 2) !important;
    color: #002866 !important;
    border: 2px solid rgb(255, 172, 2) !important;
}